---
import { type CollectionEntry, getCollection } from "astro:content";
import EventPage from "../../layouts/EventPage.astro";
import Link from "../../components/mdx/Link.astro";
import ParametersPostfix from "../../components/mdx/ParametersPostfix.astro";
import { convertMarkdownToHtml } from "../../markdown-converter";
import { validateEvent, generateAndroidEvent, generateWebEvent } from "../../template";

type Event = CollectionEntry<"event">;

export async function getStaticPaths() {
    const events = await getCollection("event");
    return events.map((event: Event) => ({
        params: { slug: event.slug },
        props: event,
    }));
}
type Props = CollectionEntry<"event">;

const event = Astro.props;
const { Content, remarkPluginFrontmatter } = await event.render();

const rawEvent = validateEvent(event.data.name, event.data.description, remarkPluginFrontmatter);
const androidEventHtml = event.data.platforms.includes("android")
    ? await convertMarkdownToHtml(
          `<details>\n<summary>Android</summary>\n\n\`\`\`kt\n${generateAndroidEvent(rawEvent)}\n\`\`\`\n</details>`,
      )
    : null;
const webCommonHtml = event.data.platforms.includes("web")
    ? await convertMarkdownToHtml(
          `<details>\n<summary>Web</summary>\n\n\`\`\`ts\n${generateWebEvent(rawEvent)}\n\`\`\`\n</details>`,
      )
    : null;
---

<EventPage name={event.data.name} description={event.data.description} platforms={event.data.platforms}>
    <Content
        components={{
            a: Link,
            div: ParametersPostfix,
        }}
    />
    <h2>Generated Code</h2>
    {androidEventHtml != null && <div set:html={androidEventHtml} />}
    {webCommonHtml != null && <div set:html={webCommonHtml} />}
</EventPage>
