---
import TypeLink from "./TypeLink.astro";
import type { Common } from "../../template";

export interface Props {
    slug: string;
    common: Common;
}

const { slug, common } = Astro.props;
---

<p><a href={`/common/${slug}`}>{common.name}</a>:</p>
<table>
    <thead>
        <th class="text-left">Name</th>
        <th class="text-left">Type</th>
        <th class="text-left">Description</th>
    </thead>
    {
        common.parameters.map((parameter) => (
            <tr>
                <td class="text-left">{parameter.name}</td>
                <td class="text-left">
                    {parameter.type.startsWith("type:") && <TypeLink href={parameter.type} />}
                    {parameter.type.startsWith("type:") == false && parameter.type}
                </td>
                <td class="text-left">{parameter.description}</td>
            </tr>
        ))
    }
</table>
